.ContainerEmptyAnimation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TextEmptyAnimation {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}