.Title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.Input {
    width: 70%;
    height: 35px;
    border-radius: 5px;
    outline-color: #5398D8;
    border: 0.5px solid #ababab;
    border-radius: 3px;
}
