.Title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Input {
    width: 70%;
    height: 35px;
    border-radius: 5px;
    outline-color: #5398D8;
    border: 0.5px solid #ababab;
    border-radius: 3px;
    resize: none;
}
.InputError {
    width: 70%;
    height: 35px;
    border-radius: 5px;
    outline-color: #eb4034;
    border: 0.5px solid #eb4034;
    border-radius: 3px;
}

.MessageError {
    margin-top: 5px;
    color: #eb4034;
}
